* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#search-button {
    color: white;
    background-color: dodgerblue;
}

header {
    font-size: 40px;
    font-weight: bold;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    text-align: center;
    padding: 20px;
}

#forecast {
    color: black
}


.card-deck {
    margin: 0 auto;
    float: none;
    align-content: center;
}

.forecastcard {
    background-color: navy;
    color: white;
    margin: 10px;
    margin-top: 10px;
}

#forecast {
    text-align: left;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 30px;
    color: black;
}

.card-header {
    font-size: 20px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    border: none;
}

.card-body {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 30px;
    color: white;
    background-color: navy;
    border: none;
}